<form #form ="ngForm">

  <div class="row">
    <div class="col-xs-12">
      <h2>Create Poll</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <label>Opposition Team</label>
      <input  class="form-control" id="teamName" name="teamName" placeholder="Opposition Team Name"  minlength="3" required ngModel>
    </div>
  </div><br>

  <div class="row">
    <div class="col-xs-8">
      <label>Enter Location</label>
      <input  class="form-control" id="teamName" name="teamName" minlength="3" required ngModel>
    </div>
  </div><br>

  <div class="row">
    <div class="col-xs-2">
      <label>Enter Date</label>
      <input  class="form-control" id="teamName" name="teamName" type="date" minlength="3" required ngModel>
    </div>
  </div><br>

  <div class="row">
    <div class="col-xs-2">
      <label>Enter Start Time</label>
      <input  class="form-control" id="teamName" name="teamName" type="time" minlength="3" required ngModel>
    </div>
  </div> <br>


  <button [disabled]="!form.valid" (click)="submitAvailability()" type="submit" value="Upload" class="btn waves-effect waves-light"  id="submit">Submit</button>
</form>
