<form #form ="ngForm">
  
  <div class="row">
    <div class="col-xs-12">
      <h2>Match vs {{opponent}}</h2>
      <h3>{{displayDate | date}} at {{displayTime}}</h3>
      <h3>Location and address</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-8">
      <label>Name</label>
      <input  class="form-control" id="name" name="name" placeholder="Full Name"  minlength="3" required ngModel>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
          Available
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
          Not Available
        </label>
      </div>
    </div>
  </div>
  <button [disabled]="!form.valid" (click)="submitAvailability()" type="submit" value="Upload" class="btn waves-effect waves-light"  id="submit">Submit</button>
</form>